html {
  // here I define the root font-size o work with rem units
  // this defines what 1rem is, not related only to typography
  font-size: 62.5%;
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
